div.modal-dlg {
    display: grid;
    grid-template-columns: auto minmax(auto,100%);
    grid-template-rows: 4.5vh auto auto auto;
    grid-template-areas: "title          title"
        "icon-status    Instructions-1"
        "Instructions-2 Instructions-2"
        "Buttons        Buttons";
    min-width: 56%;
    max-width: 60% ;
    width:35%;
    min-height: 6.5vh;
    justify-self: center;
    align-self: center;
    align-self: center;
    text-transform: initial;

    height: auto;
    overflow: hidden;
    border-radius: 0.6rem;
    background-color: #2b4c70;
    filter: drop-shadow(0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.75));
}


div.modal-dlg>div {
    position: relative;
    border-left: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
}


div.modal-dlg>div.title:first-letter{
    text-transform: uppercase;
}

div.modal-dlg>div.title{
    position: absolute;
    background-color: #fff;
    color: var(--text-color-title);
    font-weight: bold;
    font-size: 1rem;
    display: inline;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-indent: 0.5vw;
    flex-direction: column;
    text-transform: lowercase;
    border-bottom: 0.2rem solid #fff;
    border-top: 0.2rem solid #fff;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;

}
/*--------------------------------------*/
div.modal-dlg>div.Instructions {
    color: #fff;
    max-width: unset;
    max-height: 60vh;
    width: unset;
    line-height: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem 0.3rem 0.5rem;
    height: auto;
    overflow-wrap: anywhere;
    white-space: normal;
}


div.modal-dlg > div.left-box-status {
    grid-area: icon-status;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    border-right: none;
    display: flex;
}



div.modal-dlg>div.Instructions.Instructions-1 {
    grid-area: Instructions-1;
    padding: 0.5rem 0.5rem 0.3rem;
    border-left:none;
    width: auto;
    display: flex;
    line-height:1.3rem;
    margin-top: 0.4vh;
    font-size: 1.4rem;
}
div.modal-dlg > div.left-box-status.none+div.Instructions.Instructions-1  {
    min-width: 55.5vw;
}

div.modal-dlg > div.left-box-status:not(.none)+div.Instructions.Instructions-1  {

}




div.modal-dlg>div.Instructions.Instructions-2{
    grid-area: Instructions-2;
}

div.modal-dlg>div.Instructions.Instructions-2 > span  {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

div.modal-dlg>div.ButtonBar {
    grid-area: Buttons;
    padding:0.3rem 0.6rem 0.6rem;
    height: auto;
    grid-gap: calc(2 * 0.3rem);
    flex-wrap: wrap;
    max-width: unset;
    border-bottom: 0.2rem solid #fff;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

div.modal-dlg>div.ButtonBar.posRight {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

div.modal-dlg>div.ButtonBar:not(.posRight){
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
}
div.modal-dlg>div.ButtonBar>.StandardButton.hide {
    display: none;
}
div.modal-dlg>div.ButtonBar.StandardButton.show {
    display: flex;
}

div.modal-dlg > div.left-box-status > div {

    align-items: center;
    justify-content: center;
    padding: 0;
}
div.modal-dlg > div.left-box-status > div:-webkit-any(.success,.warning,.error,.timer,.info,.valid,.input,.progress,.wait,.question) {
    width: 8vw;
    height: 8vw;
    position: relative;
}
div.modal-dlg > div.left-box-status > div:-webkit-any(.success,.warning,.error,.timer,.info,.valid,.input,.progress,.wait,.question) > img {
    width: 65%;
    height: auto;
    align-self: center;
}




div.modal-dlg > div.left-box-status.none > div:-webkit-any(.success,
.warning,.error,.timer,
.info,.valid,.input,.progress,.wait,.question){
    display: none;
}

div.modal-dlg > div.left-box-status.success > div:not(.success),
div.modal-dlg > div.left-box-status.warning > div:not(.warning),
div.modal-dlg > div.left-box-status.error > div:not(.error),
div.modal-dlg > div.left-box-status.timer > div:not(.timer),
div.modal-dlg > div.left-box-status.info > div:not(.info),
div.modal-dlg > div.left-box-status.valid > div:not(.valid),
div.modal-dlg > div.left-box-status.input > div:not(.input),
div.modal-dlg > div.left-box-status.progress > div:not(.progress),
div.modal-dlg > div.left-box-status.question > div:not(.question),
div.modal-dlg > div.left-box-status.wait > div:not(.wait) {
    display: none;
}

div.modal-dlg > div.left-box-status.success>div.success         ,
div.modal-dlg > div.left-box-status.warning>div.warning        ,
div.modal-dlg > div.left-box-status.error>div.error             ,
div.modal-dlg > div.left-box-status.timer>div.timer            ,
div.modal-dlg > div.left-box-status.info>div.info           ,
div.modal-dlg > div.left-box-status.valid>div.valid             ,
div.modal-dlg > div.left-box-status.input>div.input          ,
div.modal-dlg > div.left-box-status.progress>div.progress     ,
div.modal-dlg > div.left-box-status.question>div.question     ,
div.modal-dlg > div.left-box-status.wait>div.wait               { display: flex;}



div.modal-dlg > div.left-box-status > div > div.spinner-count {
    font-size: 1rem;
}


div.modal-dlg > div.left-box-status > div:-webkit-any(.timer,.wait) > div:nth-child(1) {
    position: absolute;
    box-sizing:content-box;
    --thickness-max-anim-count: 0.8rem;
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.7rem;
    border-radius: 50%;
    opacity: 0;
    animation-name: count;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-direction: initial;
    animation-iteration-count: infinite;
    transition: opacity 0.5s ease-in-out;
}
div.modal-dlg > div.left-box-status > div.timer {
    transition: opacity 0.2s ease-in-out 500ms;
}
div.modal-dlg > div.left-box-status > div:-webkit-any(.timer,.wait):not(.none).play {
    opacity: 1;
}
div.modal-dlg > div.left-box-status > div:-webkit-any(.timer,.wait):not(.none).stop {
    opacity: 0;
}
div.modal-dlg > div.left-box-status > div:-webkit-any(.timer,.wait):not(.none).play > div:nth-child(1) {
    animation-play-state: running;
}
div.modal-dlg > div.left-box-status > div:-webkit-any(.timer,.wait):not(.none).stop > div:nth-child(1) {
    animation-play-state: paused;
}

