
.ButtonBar {
    display: flex;
    height: content-box;
    grid-gap: calc(2 * 0.5rem);
    align-items: center;
}

.ButtonBar.Horizontal {
    flex-flow: row;
    justify-content: space-between;
}

.ButtonBar.max {
    width: 100%;
    justify-content: start;
}

.ButtonBar.Vertical {
    flex-flow: column;
    justify-content: center;
}

.ButtonBar > .StandardButton {
    display: flex;
    height: 7.5vh;
    width: 14vw;
    align-items: center;
    justify-content: center;
    color: var(--button-font-color);
    border: var(--button-border-color) solid var(--button-border-width);
    border-radius: var(--button-border-radius);
    background-color: var(--background-button-color);
    text-align: center;
    white-space: normal;
    text-transform: none;
    font-size: 0.92rem;
    line-height: 0.93rem;
}

.ButtonBar.auto {
    width: 100%;
}

.ButtonBar > .StandardButton.none {
    display: none;
}

.ButtonBar > .StandardButton.hLeft {
    margin-right: auto;
}

.ButtonBar > .StandardButton.hRight {
    margin-left: auto;
}

.ButtonBar > .StandardButton.long-adjust {
    width: 22vw;
    height: 5.5vh;
}

.ButtonBar > .StandardButton.long {
    width: 20vw;
}

.ButtonBar > .StandardButton.small {
    height: 5.5vh;
    width: 8vw;
}

.ButtonBar > .StandardButton.disabled {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    opacity: 0.3;
}


.ButtonBar > .StandardButton.invisible {
    visibility: hidden;
}
