
<div class="Modal_Screen blue" >
	<div class="modal-dlg" id="modal-dlg" draggable="true">


		<div class="title">new popin modal</div>
		<div class="left-box-status none" id="iconStatus">

			<div class="timer play">
				<div id="CountDownContainer"></div>
				<div class="spinner-count" id="timer"></div>
			</div>

			<div class="warning">
				<img alt="Warning" src="components/pop-up/icon/ICO_Warning.svg">
			</div>
			<div class="question">
				<img alt="Question" src="components/pop-up/icon/ICO_Question.svg">
			</div>
			<div class="info">
				<img alt="Info" src="components/pop-up/icon/ICO_Instruction.svg">
			</div>
			<div class="error">
				<img alt="Error" src="components/pop-up/icon/ICO_ExamStatus_Error.svg">
			</div>

			<div class="success">
				<img alt="Success" src="components/pop-up/icon/UI_CheckMark.svg">
			</div>

			<div class="valid">
				<img alt="valid" src="components/pop-up/icon/ICO_Checked_Orange.svg">
			</div>

			<div class="progress">
				<img alt="Progress" src="components/pop-up/icon/ICO_Progress.svg">
			</div>
			<div class="wait play">
				<div  ></div>
				<div class="spinner-count" id="wait"></div>
			</div>
			<div class="input">
				<img alt="Input" src="components/pop-up/icon/ICO_Movment.png">
			</div>
		</div>


		<div class="Instructions Instructions-1" id="PrimaryMessage"></div>
		<div class="Instructions Instructions-2 SuperSmall"  ><span  id="SecondaryMessage"></span></div>

		<div class="ButtonBar Horizontal ">
			<button class="StandardButton long-adjust hide"></button>
		</div>
	</div>
</div>
